<!DOCTYPE html>
<html>
  <head>
    <title>Payment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>

    <% if admin_user_signed_in? %>
      <%= link_to('Edit registration', edit_admin_user_registration_path) %>
      <%= link_to('Logout', destroy_admin_user_session_path, data: { turbo_method: :delete }) %>
    <% else %>
      <%= link_to('Register', new_admin_user_registration_path) %>
      <%= link_to('Login', new_admin_user_session_path) %>
    <% end %>

    <%= yield %>
  </body>
</html>
